@import 'src/stylesheets/base/master.scss';

.changePasswordWrapper
{
    display: flex;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formPasswordWrapper
{
    display: flex;
    flex-direction: column;
}

.generatePassword
{

}

.passwordView
{
    outline: none;
    resize: none;
    border: none;
    text-align: center;
    padding: 10px;
    margin: 2rem 0;
}