@import 'src/stylesheets/base/master.scss';

.footerWrapper
{
    display: flex;
    flex-direction: column;
    background-color: #766d64bd;
    justify-content: flex-end;
    width: 100%;
    height: 6rem;
    @include breakpoint(medium) {
        height: 12rem;
    }
    .lowerFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: $secondarybackgroundcolor;
        width: 100%;
        height: 5rem;
        opacity: 1;
        span
        {
            font-size: 1rem;
            font-family: $primaryFont;
            color: #fff;
            margin: 5px 0;
            padding: 5px;
        }
        a span:hover{
            color: $secondarycolor;
        }
    @include breakpoint(medium) {
        flex-direction: row;
        margin: 0;
        padding: 0;
        
    }
    }

}



