@import 'src/stylesheets/base/master.scss';

.loginWrapper
{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.loginWrapper > .inputBoxes
{
    width: 35%;
    height: 100px;
    font-size: 24px;
    outline: none;
    border: none;
    margin: 10px 0px;
    padding: 25px;
    text-align: center;
    color: $secondarycolor;
    background: #1e55eb18;
    border-radius: 10px;
    box-shadow: 0px 0px 18px 18px #ffffff44;
    &:focus {
        border: 1px solid $secondarycolor;

    }
}


.loginButton
{
    margin: 75px 0px;
    width: 200px;
    height: 50px;
    color: $secondarycolor;
    background: #ffffff44;
    border: 2px solid #ffffff44;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 10px;

    &:hover {
        background: $primarycolor;
        border: none;
    }
}

.loginSplashPic
{
    width: 50%;
    height: auto;
    margin: 75px 0px;
    border-radius: 10px;

}