@import 'src/stylesheets/base/master.scss';

.loginWrapper
{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: $secondarycolor;
    svg
    {
        display: block;
        margin: 0;
    }
}

.curved.upper
{
    width: 100vw;
    background-color: $backgroundcolor;
    margin: 0;
    svg
    {
        display: block;
        margin: 0;
    }
}

.loginWrapper > .inputBoxes
{
    width: 90%;
    height: 80px;
    font-size: 1.5rem;
    outline: none;
    border: none;
    margin: 25px 0px;
    padding: 25px;
    text-align: center;
    color: #fff;
    background: #1e55eb18;
    border-radius: 10px;
    box-shadow: 0px 0px 18px 18px #ffffff44;
    &:focus {
        border: 1px solid $secondarycolor;

    }
    @include breakpoint(medium) {
        width: 35%;
        height: 100px;
    }
}


.loginButton
{
    margin: 75px 0px 0px 0px;
    width: 200px;
    height: 50px;
    color: $secondarycolor;
    background: #ffffff44;
    border: 2px solid #ffffff44;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    &:hover {
        background: $primarycolor;
        border: none;
    }
    .loginButtonText
    {
        padding: 0 10px;
    }
}

.loginSplashPic
{
    width: 75%;
    height: auto;
    margin: 75px 0px;
    border-radius: 10px;
    @include breakpoint(medium) {
        width: 50%;
    }
}