@import 'src/stylesheets/base/master.scss';

.navtoolbar
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navContent
{
    text-transform: capitalize;
}

.navOpenCart
{
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.navStore
{
        display: none;
}

.navUser
{
        display: none;
}

.drawerHeader
{
    display: flex!important;
    align-items: center!important;
    justify-content: flex-end!important;
}

.list
{
    text-transform: capitalize;
}

.headerStore
{
    justify-self: flex-start;
    width: 100%;
    align-self: center;
    padding: 0 25px;
    text-transform: capitalize;
    font-weight: bold;
}

@include breakpoint(medium) {
    .navStore
    {
        display: block;
    }
    .navUser
    {
        display: block;
    }
}