@import 'src/stylesheets/base/master.scss';

.productWrapper
{
    @include vendor-prefix(display, flex);
    flex-direction: column;
    background: $productcolor;
    border: none;
    border-radius: 3px;
    margin: 25px;
    width: auto;
    height: 200px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.extendWrapper
{
    height: auto;
}

.productName
{
    // padding-top: 10px;
    font-size: 28px;
    color: $texttitlecolor;
    padding: 10px;
    text-align: center; 
}

.productPrice
{
    font-size: 18px;
    color: $secondarycolor;
    padding: 10px;
}

.productCategory
{
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px;
}

.addIcon
{
    cursor: pointer;
    margin: 10px!important;
    // align-self: flex-end;   
}

.cartIcon
{
    cursor: pointer!important;
    margin: 10px!important;
    top: 10px!important;
    flex-grow: 1;
    &:hover {
        color: rgb(15, 92, 15)!important;
    }
}

.quantityIcon
{
    width: 45%!important;
}

.deleteIcon
{
    top: 10px!important;
    flex-grow: 1;
}

.topHalfWrapper
{
    display: flex;
    background: #ffffff;
    align-self: flex-start;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.bottomHalfWrapper
{
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bottomHalfLeft
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.bottomHalfRight
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    .totalQuantity
    {
        font-family: $secondaryFont;
        font-size: 72px;
        color: rgba(0, 0, 0, 0.404);
        padding: 10px 0;
        align-self: flex-end;
    }
}

.inCart
{
    background: lightgreen;
}