@import 'src/stylesheets/base/master.scss';

.dashboardWrapper
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    min-height: 68vh;
    background-color: #ffffff99;
    @include breakpoint(medium) {
        min-height: 75vh;
    }
}

.dashitemWrapper
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 275px;
    width: 300px;
    border-radius: 5px;
    color: #000;
    margin: 75px;
    background-color: $secondarycolor;
    border: none;
    outline: none;
    transition: background-color 0.4s;
    box-shadow: inset 0 0 0 1px #e6e6e6;
    @include breakpoint(medium) {
        margin: 10px;
    }
    &:hover
    {
        background-color: hsla(9, 100%, 64%, .3);
        cursor: pointer;
        color: #fff;
        top: 8px;
        left: 8px;
        box-shadow: inset 0 0 0 0 #e6e6e6, 0 15px 30px 0 rgba(50, 52, 58, 0.15);
    }
    .dash-name
    {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
        margin-top: auto;
    }
    
    .dash-metric
    {
        font-size: 4.5rem;
        color: #fff;
    }
    .dash-circle
    {
        position: absolute;
        top: -20%;
        height: 75px;
        width: 75px;
        border-radius: 50%;
        border: 1px solid #fff;
        color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        background-color: $secondarycolor;
        opacity: 0.7;
        &:hover
        {
            background-color: tomato;
        }
        .dash-image
        {
            height: 40px;
            width: 40px;
            margin: 0 auto;
        }
    }
    .dash-view
    {
        opacity: 0.5;
        width: 100%;
        height: 15%;
        background-color: #000;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: auto;
    }
}

.repeatOrderModal
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #ffffff44;
    
    .modalContainer
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: auto;
        height: 300px;
        padding: 50px;
        outline: none;
        background: rgba(255, 255, 255, 0.904);
        border-radius: 10px;
        box-shadow: 0 0 10px 10px #ffffff44;
    }

    .modalTitle
    {
        text-transform: capitalize;
        font-size: 2rem;
        color: #000;
        padding: 10px;
    }

    .modalBottomContainer
    {
        display: flex;
    }

    .modalButton
    {
        margin: 25px;
        width: 200px;
        height: 50px;
        padding: 10px 0px;
        color: $secondarycolor;
        background: #fff;
        border: 2px solid $primarycolor;
        outline: none;
        font-size: 1.2rem;
        border-radius: 10px;
        text-transform: capitalize;

        &:hover {
            background: $primarycolor;
            border: none;
            font-weight: bold;
        }
    }
    .primary
    {
        background: $primarycolor;
    }
}