@import 'src/stylesheets/base/master.scss';

.homeWrapper
{
    max-height: 100vh;
    background: #ffffff;
}

.productsWrapper
{
    margin-top: 150px;
    @include vendor-prefix(display, grid);
    grid-template-columns: 1fr;
    justify-content: center;
    
    @include breakpoint(medium) {
        margin-top: 100px;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1em;
    }
    
    @include breakpoint(large) {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1em;
    }

    @include breakpoint(xlarge) {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 1em;
    }
    
}