$primarycolor: #1E56EB;
$primaryoffcolor: #1e55eb4d;
$secondarycolor: #ff822B;
$backgroundcolor: #e2e1e0;
$texttitlecolor: #766d65;

$breakpoints: (
    medium: 43.75em,
    large: 62.5em,
    xlarge: 87.5em,
);

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper
{
    min-height: 100vh;
    background: $backgroundcolor;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title
{
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 100px 0;
    color: $primarycolor;
    text-align: center;
}

.error
{
    color: tomato;
    font-size: 14px;
    font-style: italic;
    margin: 10px 0;
}

@mixin breakpoint($size) {
    $breakpoint-value: map-get($breakpoints, $size);

    @media screen and (min-width: $breakpoint-value) {
        @content;
    }
}