$primarycolor: #1E56EB;
$primaryoffcolor: #1e55eb4d;
$secondarycolor: #ff822B;
$backgroundcolor: #e2e1e0;
$texttitlecolor: #766d65;
$secondarybackgroundcolor: #766d64;
$productcolor: #104bec8a;
$cupcolor: #3a3f42;
$cardcolor: #372d2b;
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Girassol', cursive;

$breakpoints: (
    medium: 43.75em,
    large: 62.5em,
    xlarge: 87.5em,
);

@mixin vendor-prefix($name, $value) {
    @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
        #{$vendor}#{$name}: #{$value};
    }
}

*
{
    margin: 0;
    padding: 0;
    @include vendor-prefix('box-sizing', 'border-box');
    font-size: 16px;
}

button
{
    cursor: pointer;
}

a
{
    text-decoration: none;
}

.wrapper
{
    min-height: 100vh;
    background: $backgroundcolor;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.title
{
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 100px 0;
    color: $primarycolor;
    text-align: center;
}

.error
{
    color: $texttitlecolor;
    font-size: 1rem;
    font-style: italic;
    margin: 10px 0;
    text-align: center;
}

@mixin breakpoint($size) {
    $breakpoint-value: map-get($breakpoints, $size);

    @media screen and (min-width: $breakpoint-value) {
        @content;
    }
}

